body {
    font-family: sans-serif;
    color: gray;
    line-height: 2;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 600;
    color: black;
}

a {
    color: #222;
    text-decoration: none;
    transition: all 5s;
}

img {
    width: 100%;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.shadow-on-hover {
    transition: all 4s;
}

.shadow-on-hover:hover {
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

.btn {
    border-radius: 0;
    padding: 14px 38px;
}

.bg-cover {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.slide-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/strawberry-pancake.jpg);
}

.slide-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/cover2.jpg);
}

.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0,0,0,0.6);
    width: 40px;
    height: 70px;
    margin: auto;
}

.intro-text {
    margin-bottom: 40px;
    text-align: center;
}

.intro-text p {
    max-width: 500px;
    margin: 16px auto 0 auto;
}

#menu .nav-pills .nav-link {
    background-color: #fff;
    margin-left: 8px;
    margin-right: 8px;
    color: #222;
    border-radius: 100px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

#menu .nav-pills .nav-link.active {
    background-color: blue;
    color: #ffffff;
} 

#features{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/item_1.jpg);
}

.feature{
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.feature .feature-icon {
    width: 80px;
    height: 80px;
    font-size: 28px;
    display: inline-grid;
    align-content: center;
    text-align: center;
    background-color: white;
}

#reviews {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/strawberry-pancake.jpg);
}
.review img {
    width: 75px;
    height: 75px;
    object-fit: cover;
}

.blog-post img {
    width: 40%;
    object-fit: cover;
}

@media (max-width: 770px) {
    .blog-post {
        flex-direction: column;
    }
    .blog-post img {
        width: 100%;
    }
}

footer {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./images/cover3.jpg);
    padding-top: 120px;
    padding-bottom: 30px;
}

.footer-top {
    margin-bottom: 30px;
}

footer p,
footer a,
footer h3{
    color: rgba(255, 255, 255, 0.75);
}

footer .social-links a {
    font-size: 24px;
    margin-right: 10px;
}

.footer-bottom {
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}